@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mdc-slider-handle-color: #1a1814;
  --mdc-slider-active-track-color: #1a1814;
  --mdc-slider-inactive-track-color: #ddd;
  --mdc-slider-focus-handle-color: #1a1814;
  --mdc-slider-hover-handle-color: #1a1814;
  --mdc-slider-pressed-handle-color: #1a1814;
  --mdc-slider-with-overlap-handle-outline-color: #1a1814;
  --mat-slider-ripple-color: transparent;
  --mdc-slider-active-track-color: #1a1814;
  --mdc-slider-inactive-track-color: #ddd;
}
